<div class="faq">
  <h1 class="faq__title"><%= t('pages_nav.faqs') %></h1>

  <!-- <% @faqs.each_with_index do |faq, index| %>

  <div class="faq__questions accordion" >
      <div class="accordion__item">

        <div class="question js-accordion__head">
          <h4 class="question__title"><%= faq.question %></h4>
          <div class=" question__button">
              +
          </div>
        </div>

        <div class="js-accordion__body">
          <p>
            <%= faq.answer %>
          </p>
        </div>

        <hr class="faq-underline">
      </div>
  </div>  
  <% end %> -->

    <div class="faq__questions accordion" >
      <div class="accordion__item">

        <div class="question js-accordion__head">
          <h4 class="question__title">Lorem ipsum dolor sit amet?</h4>
          <div class=" question__button">
              +
          </div>
        </div>

        <div class="js-accordion__body">
          <p>
            Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria? Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.
          </p>
        </div>

        <hr class="faq-underline">
      </div>
  </div> 


  <div class="faq__questions accordion" >
    <div class="accordion__item">

      <div class="question js-accordion__head">
        <h4 class="question__title">Lorem ipsum dolor sit amet?</h4>
        <div class=" question__button">
            +
        </div>
      </div>

      <div class="js-accordion__body">
        <p>
          Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria? Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.
        </p>
      </div>

      <hr class="faq-underline">
    </div>
</div>  


<div class="faq__questions accordion" >
  <div class="accordion__item">

    <div class="question js-accordion__head">
      <h4 class="question__title">Lorem ipsum dolor sit amet?</h4>
      <div class=" question__button">
          +
      </div>
    </div>

    <div class="js-accordion__body">
      <p>
        Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria? Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.
      </p>
    </div>

    <hr class="faq-underline">
  </div>
</div>  


<div class="faq__questions accordion" >
  <div class="accordion__item">

    <div class="question js-accordion__head">
      <h4 class="question__title">Lorem ipsum dolor sit amet?</h4>
      <div class=" question__button">
          +
      </div>
    </div>

    <div class="js-accordion__body">
      <p>
        Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria? Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.
      </p>
    </div>

    <hr class="faq-underline">
  </div>
</div>  

</div>

