/*------------------------------------*\
** GLOBAL
\*------------------------------------*/

html {
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  
  //grid i te fore
  display: grid;

  &.offset-top {
    margin-top: 4rem;

    @include breakpoint($large) {
      margin-top: 6rem;
    }
  }
}

a{
  text-decoration: none;
  color: inherit;
}

main {
  min-height: calc(100vh - 70px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h2{
  color: $pekara-blue;
  text-align: center;
}

p{
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // text-align: center;
  // justify-content: center;
  // align-items: center;
  // justify-items: center;
  // align-content: center;

  display: grid;
  text-align: center;
}